{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style/styles.css' %}">
    <title>Inicia sesión</title>
</head>
<body class="bb">
        <div class="container">
            <div class="row" >
                <div class="col-sm-4 d-flex justify-content-center align-items-center vh-100">
                    <div class="p-3 mb-2 bg-white text-white" style="border-radius: 10px; width: 600px; transform: translateY(-50%); ">
                        <p style="color: #2c3e4d; text-align: center; font-size: x-large;">Bienvenido al chat</p>
                            <form method="POST" action=>
                                {% csrf_token %}    
                                <!-- {{ form.as_p }} -->
                                <div class="links">
                                    <div class="mb-3">
                                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" placeholder="Correo electrónico" style="color: #2c3e4d; background-color: #e1e1d8;">
                                    </div>
                                    <div class="mb-3">
                                        <input type="password" class="form-control" id="password" name="password" placeholder="Clave" style="color: #2c3e4d; background-color: #e1e1d8;">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary justify-content-center" style="background-color: #2c3e4d; width: 300px; border-radius: 22px; height: 45px;">Entrar</button>
                            </form>
                        <div class="d-flex p-2 justify-content-center">
                            <label style="color: #2c3e4d;">¿No tienes una cuenta aún?&nbsp; </label>
                            <a href="{{user_url}}/register/" style="color: #2c3e4d;" class="ml-1">regístrate</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if error %}
        <div class="d-flex justify-content-center">
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        </div>
        {% endif %}
        
    <footer class="footer mt-auto py-3">
        <span style="margin: 10px ;" class="text-muted">Chat Uniminuto ©<script>document.write(new Date().getFullYear())</script> </span>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>